<h2>Sign up</h2>

<p>We promise to never give out your personal information to anyone.</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
	<%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div class="field">
	<%= f.label :password %><br />
  <%= f.password_field :password, :id => "user_password" %></div>

  <div class="field">
	<%= f.label "confirm Password" %><br />
  <%= f.password_field :password_confirmation, :id => "user_confirm_password" %></div>

  <div class="actions">
	<%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
