<h2>Top 20 Best Deals</h2>
<table id="sorted_beer_item_list" class="itemlist">
<thead>
  <tr>
		<th wdith=20></th>
    <th width=200>Name</th>
    <th width=230>Bar</th>
		<th widht=150>Style</th>
    <th width=120>Pouring</th>
    <th width=100 class="abd-table-heading">ABD</th>
    <th width=80>Price</th>
  </tr>
</thead>
<tbody>
<% @best_deals.each do |f| %>
  <tr>
		<td></td>
    <td><%= link_to f.beer.name, f.beer %></td>
    <td><%= link_to f.bar.name, f.bar %></td>
		<td><%= f.beer.try(:beer_style) ? f.beer.beer_style.name : "" %></td>
    <% unless (f.volume.nil? || f.volunit.nil?) %>
       	<td><%= number_to_human(f.volume, :units => {:unit => f.volunit}) %> <%= f.pouring %></td>
    <% else %>
    	<td><%= f.pouring %></td>
    <% end %>
		<td><%= sprintf("%.3f",f.abd) %></td>
    <td><%= number_to_currency(f.price) %></td>
  </tr>
<% end %>
</tbody>
</table>