<%= form_for(@beer_item) do |f| %>
  <% if @beer_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= error_messages_for @beer_item, :header_message => "Whoops!", :message => "Please address the following:"%></h2>
    </div>
  <% end %>

	<div data-role="fieldcontain">
		<%= label_tag 'beer_item_beer_id', 'Beer', :class => 'select' %>
  	<%= collection_select :beer_item, :beer_id, Beer.order('name ASC'), :id, :name %>
	</div>
	<div data-role="fieldcontain">
		<%= label_tag 'beer_item_bar_id', 'Bar' %>
  	<%= collection_select :beer_item, :bar_id, Bar.order('name ASC'), :id, :name %>
	</div>
	<div data-role="fieldcontain">
		<%= label_tag 'beer_item_volume', 'Volume' %>
  	<%= f.text_field :volume, :placeholder => "Volume" %>
	</div>
	<div data-role="fieldcontain">
		<%= label_tag 'beer_item_volunit', 'Volume Units' %>
		<%= select :beer_item, :volunit, options_for_select([["oz","oz"],["ml","ml"],["cl","cl"]],@beer_item.volunit)%>
  </div>
	<div data-role="fieldcontain">
		<%= label_tag 'beer_item_pouring', 'Pouring' %>
		<%= select "beer_item", "pouring", options_for_select([["draught","draught"],["bottle","bottle"],["can","can"],["pitcher", "pitcher"],["cask pour","cask pour"]], @beer_item.pouring) %>
	</div>
	<div data-role="fieldcontain">
		<%= label_tag 'beer_item_price', 'Price' %>
		<%= f.text_field :price, :palceholder => "Price" %>
	</div>
<%= f.submit %>

<% end %>
