<% content_for :title, "Atl Beer List" %>

<ul class="rounded">
	<li class="arrow"><%= link_to "Bars", bars_path %></li>
	<li class="arrow"><%= link_to "Beers", beers_path %></li>
</ul>

<h2>Best Deals</h2>
	<ul class="rounded">
	  <% for beer_item in @best_deals %>
	    <li class="arrow">
	      <%= link_to beer_item.beer.name, beer_path(beer_item.beer.id) %>
				<small class="counter"><%= sprintf("%.3f",beer_item.abd) %></small>
	    </li>
	  <% end %>
	</ul>

<ul><li class="arrow"><%= link_to "New Item", new_beer_item_path %></li></ul>