<h1>Details</h1>
<p>
  <b>Beer:</b>
  <%= @beer_item.beer.name %>
</p>

<p>
  <b>Bar:</b>
  <%= @beer_item.bar.name %>
</p>

<p>
  <b>Pouring:</b>
  <%= number_to_human(@beer_item.volume, :units => {:unit => @beer_item.volunit}) %> <%= @beer_item.pouring %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@beer_item.price) %>
</p>

<%= link_to 'Edit', edit_beer_item_path(@beer_item) %> | <%= link_to 'Destroy', @beer_item, :method => :delete %>

<br />
<%= link_to 'Back', beer_items_path %>
