<div id="login">
	<div class="toolbar">
		<h1>AtlBeerList</h1>
	</div>
	<br /><br /> <br />
	<%= form_tag session_path, :class => "form" do %>
		<ul class="edit rounded">
			<input type="hidden" name="commit" value="Login" />
			<li><input type="text" name="email" placeholder="User Name" id="email" /></li>
			<li><input type="password" name="password" placeholder="Password" id="password" /></li>
		</ul>
		<input name="commit" type="submit" class="submit" value="Login" rel="external" /> 
		<!-- <a href="<%= beer_items_path %>" style="margin: 10px;" class="bigButton flip submit">Login</a> -->
		<!-- <%= submit_tag 'Login' %> -->
	<% end %>
</div>

<!-- ORGINAL
<h1>Login</h1>

<%= form_tag session_path do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions">
    <%= submit_tag 'Login' %>
  </div>
<% end %>
--->
