<% if logged_in? %>
<% unless current_user.bars.empty? %> 
<h2>Following</h2><br />
<table>
  <tr align="left">
	<th width=20></th>
    <th width=200>Name</th>
	<th width=250>Address</th>
    <th width=100>Zip</th>
    <th></th>
    <th></th>
  </tr>
<% current_user.bars.find(:all, :order=>"name ASC").each do |f| %>
  <tr>
	<td>
	<div id="follow_form">
	<% if logged_in? %>
		<% if f.is_followed? current_user %>
			<%= form_for current_user.bar_followings.find_by_bar_id(f.id),
             		:html => { :method => :delete },
             		:remote => true do |h| %>
  				<div class="following"><%= image_submit_tag "full_circle.png" %></div>
			<% end %>
		<% else %>
			<%= form_for current_user.bar_followings.build(:bar_id => f.id), :remote => true do |g| %>
				<div><%= g.hidden_field :bar_id %></div>
  				<div class="following"><%= image_submit_tag "empty_circle.png" %></div>
			<% end %>
		<% end %>
	<% end %>
	</div>
	</td>
    <td><%= link_to f.name, f %></td>
	<td><%= f.address %></td>
    <td><%= f.zip %></td>
	<% if f.has_permission?(current_user) %>
		<span class="actions">
		    <td><%= link_to 'Edit', f, :action => :edit %>
		    <td><%= link_to 'Destroy', f, :confirm => 'Are you sure?', :method => :delete %></td>
		</span>
	<% else %>
		<td> </td>
		<td> </td>
	<% end %>
  </tr>
<% end %>
</table> 
<br />
<% end %>
<% end %>

<h2>All Bars</h2> 
<% unless logged_in? %>
	<%= link_to "log in", login_path %> or <%= link_to "create", new_user_path %> and account to follow your favorite bars<br />
<% end %>
<br />

<table>
  <tr align="left">
	<th width=20></th>
    <th width=200>Name</th>
	<th width=250>Address</th>
    <th width=100>Zip</th>
    <th></th>
    <th></th>
  </tr>
  
<% Bar.find(:all, :order=>"name ASC").each do |f| %>
  <tr>
	<td>
	<div id="follow_form">
	<% if logged_in? %>
		<% if f.is_followed? current_user %>
			<%= form_for current_user.bar_followings.find_by_bar_id(f.id),
             		:html => { :method => :delete },
             		:remote => true do |h| %>
  				<div class="following"><%= image_submit_tag "full_circle.png" %></div>
			<% end %>
		<% else %>
			<%= form_for current_user.bar_followings.build(:bar_id => f.id), :remote => true do |g| %>
				<div><%= g.hidden_field :bar_id %></div>
  				<div class="following"><%= image_submit_tag "empty_circle.png" %></div>
			<% end %>
		<% end %>
	<% end %>
	</div>
	</td>
    <td><%= link_to f.name, f %></td>
	<td><%= f.address %></td>
    <td><%= f.zip %></td>
	<% if f.has_permission?(current_user) %>
		<span class="actions">
		    <td><%= link_to 'Edit', f, :action => :edit %>
		    <td><%= link_to 'Destroy', f, :confirm => 'Are you sure?', :method => :delete %></td>
		</span>
	<% else %>
		<td> </td>
		<td> </td>
	<% end %>
  </tr>
<% end %>

</table>
