<h1>Bars</h1>

<table>
  <tr>
    <th>Name</th>
	<th>Address</th>
    <th>Zip</th>
    <th>State</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @bars.each do |bar| %>
  <tr>
    <td><%= link_to bar.name, bar %></td>
	<td><%= bar.address %></td>
    <td><%= bar.zip %></td>
    <td><%= bar.state %></td>
    <td><%= bar.description %></td>
    <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
    <td><%= link_to 'Destroy', bar, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bar', new_bar_path %>

