<h1>Bars</h1>

<%= form_tag bars_path, :method => :get, :remote => true do %>
  <p>
    <%= text_field_tag :search, params[:search], :size => 20 %>
    <%= submit_tag "Search", :name => nil, :class => "submit-search-button" %>
	</p>
	
	<!-- <div><a id="adv-searching-button">Sorting</a> 
		<% unless params[:search_by_pouring].nil? %>
			<span id="reset_search">(<%= link_to "reset", root_path %>) </span>
		<% end %>

		<% if params[:search].present? || params[:zip].present? %>
			- <%= link_to('Clear Search', bars_path) %>
		<% end %>
	</div>

	<div id="adv-searching">
	  <p>
	    <%= text_field_tag :zip, params[:zip], :maxlength => 5, :size => 5, :id => "zip-search" %><br>
	    <%= submit_tag "Sort by zip", :name => nil, :class => "submit-search-button" %>
  	</p>
	</div> -->
	
	<%= link_to('Clear Search', bars_path, :class => "search_results_found", :style => "display:none;") %>
<% end %>

<br style="clear:both">
<p id="found_count" class="search_results_found" style="display:none;">
	Found <%= pluralize(@bars.count, 'bar') %>
</p>


<p>Hint:  Click on a row to view the beer list for a bar!</p>

<div class="greenLine"></div>

<div id="bar_list">
	<%= render 'list' %>
</div>

<%= link_to 'New Bar', new_bar_path %>
<br>
<%= paginate @bars %>
