<h1><%= @bar.name %></h1>

<h3> Pouring <%= pluralize(@bar.beers.count, "beer") %> </h3> <br />

<%= render "bars_beer_items" %>
<div class="greenLine" />


<p>
  <%= @bar.address %><br>
  <%= @bar.city %> <%= @bar.state %><br>
  <%= @bar.zip %><br>
	<%= !@bar.url.nil? ? link_to("Website", @bar.url) : "" %>
</p>

<% if @bar.description.present? %>
	<p>
		<b>Description:</b>
		<%= @bar.description %>
	</p>
<% end %>

<!--  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@bar.latitude}%2C#{@bar.longitude}" %>
-->

<!-- <p id="toggle-map-link">
	<a><b>Show/Hide Map</b></a>
<p> -->
	
<div id="bar-show-gmap">
	<% if @bar.latitude.present? && @bar.longitude.present? %>
		<%= gmaps("map_options" => { "detect_location" => true, "center_on_user" => false, "zoom" => 14, "auto_adjust" => true, "auto_zoom" => false}, "markers" => { "data" => @json }) %>
	<% else %>
		Map not available
	<% end %>
</div>

<br>
<% if @bar.has_permission? current_user %>
	<%= link_to 'Edit', edit_bar_path(@bar) %> |
<% end %>
<%= link_to 'Back', :back %>
