<h1><%= @bar.name %></h1>
<p>
  <%= @bar.address %><br>
  <%= @bar.city %> <%= @bar.state %><br>
  <%= @bar.zip %><br>
	<%= !@bar.url.nil? ? link_to("Website", @bar.url) : "" %>
</p>

<h3> Pouring <%= pluralize(@bar.beers.count, "beer") %> </h3> <br />

<%= render "bars_beer_items" %>
<div class="greenLine" />



<% if @bar.description.present? %>
	<p>
		<b>Description:</b>
		<%= @bar.description %>
	</p>
<% end %>

<!--  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@bar.latitude}%2C#{@bar.longitude}" %>
-->


	

<% if @bar.latitude.present? && @bar.longitude.present? %>
	<p id="toggle-map-link">
		<a>Hide Map</a>
	<p>
		<%= gmaps("map_options" => { "detect_location" => true, "center_on_user" => false, "zoom" => 14, "auto_adjust" => true, "auto_zoom" => false}, "markers" => { "data" => @json }) %>
<% end %>

<br>
<% if @bar.has_permission? current_user %>
	<%= link_to 'Edit', edit_bar_path(@bar) %> |
<% end %>
<%= link_to 'Back', :back %>
