<h3 style="margin-left: 20px">
	<p><%= @bar.address %></p>
	<p><%= @bar.zip %></p>
	<p><%= link_to("Website", @bar.url) if @bar.url.present? %>
</h3>

<h2>Beers being served at <%= @bar.name %></h2>
	<ul class="rounded">
		<% for beer_item in @beer_items %>
		<li class="arrow">
			<a class="button_beers_show" data-beer-id="<%= beer_item.beer.id %>" data-beername="<%= beer_item.beer.name %>"><%= truncate(beer_item.beer.name, :length => 16) %> (<%= number_to_human(beer_item.volume, :units => {:unit => beer_item.volunit}) %>)</a>
			<small class="counter"><%= number_to_currency(beer_item.price) %></small>
		</li>
		<% end %>
	</ul>