<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  	<div id="error_explanation">
      <h2><%= error_messages_for @user, :header_message => "Whoops!", :message => "Please address the following:"%></h2>
    </div>
  <% end %>
    
    <p>This website is currently in beta.  I appologize for an errors you may encounter. </p>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>
    <div class="field">
       <%= f.label :password_confirmation %><br />
       <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
      <%= submit_or_cancel f, "Signup" %>
    </div>
   <% end %>
