<div class="itemlist">
<table>
<thead>
  <tr>
    <th width=200>Beer</th>
	<th width=200>Bar</th>
    <th width=100>Price</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @beers.each do |beer| %>
<tr>
<% beer.beer_items.each do |item| %>
  <tr>
      <td><%= link_to item.beer.name, item.beer %></td>
	  <td><%= link_to item.bar.name, item.bar %></td>
      <td><%= number_to_currency(item.price) %></td>
    <% if item.bar.has_permission?(current_user) %>
      <td><%= link_to 'Edit', edit_beer_item_path(item) %></td>
      <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
    	<td />
    	<td />
    <% end %>
  </tr>
<% end %>
</tr>
<% end %>
</tbody>
</table>
</div>