<%= form_for(@brewery) do |f| %>
  <% if @brewery.errors.any? %>
    <div id="error_explanation">
      <h2><%= error_messages_for @brewery, :header_message => "Whoops!", :message => "Please address the following:"%></h2>
    </div>
  <% end %>

	
  <div data-role="fieldcontain">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <%= f.submit %>
<% end %>