<h1>Breweries</h1>

<% if logged_in? %>
	<div align="left"><%= link_to 'New Brewery', new_brewery_path %></div>
	<br />
<% end %>

<table id="expanding_brewery_list" class="expandable_itemlist">
 <thead>
  <tr align="left">
    <th width=250>Name</th>
	<th width=250>Location</th>
    <th width=50></th>
    <th width=50></th>
  </tr>
 </thead>
 <tbody>

<% @breweries.each do |brewery| %>
  <tr id="<%= brewery.id %>" item_url="breweries/<%= brewery.id %>">
    <td><%= link_to brewery.name, brewery %></td>
   <% if brewery.citystate %>
    <td><%= brewery.citystate %></td>
   <% else %>
    <td></td>
   <% end %>
   <% if logged_in? && current_user.id == 1 %>
    <td><%= link_to 'Edit', edit_brewery_path(brewery) %></td>
    <td><%= link_to 'Destroy', brewery, :confirm => 'Are you sure?', :method => :delete %></td>
   <% else %>
   	<td />
   	<td />
   <% end %>
  </tr>
  <tr>
  	<td colspan="4" id="itemdesc-<%= brewery.id %>" class="itemdesc">
  		<p></p>
  	</td>
  </tr>
<% end %>
 </tbody>
</table>
<br />



