<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @brewery.name %>
</p>

<p>
  <b>Address:</b>
  <%= @brewery.address %>
</p>

<p>
  <b>Zip:</b>
  <%= @brewery.zip %>
</p>

<p>
  <b>State:</b>
  <%= @brewery.state %>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', :back %>

<div id="itemlist">
<table>
  <tr>
    <th width=150>Beer</th>
	<th width=150>Bar</th>
    <th width=100>Price</th>
    <th></th>
    <th></th>
  </tr>
<% @beers.each do |beer| %>
<tr>
<% beer.beer_items.each do |item| %>
  <tr>
      <td><%= link_to item.beer.name, item.beer %></td>
	  <td><%= link_to item.bar.name, item.bar %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td><%= link_to 'Edit', edit_beer_item_path(item) %></td>
      <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tr>
<% end %>
</table>
</div>
