<h1><%= @brewery.name %></h1>

<h3><%= pluralize(@brewery.beers.length, "beer") %> being brewed</h3> <br />

<p>
	<p><%= @brewery.address %></p>
	<p><%= @brewery.city %> <%= @brewery.state %></p>
	<p><%= @brewery.zip %></p>
	<p><%= link_to_unless @brewery.url.nil?, "Website", @brewery.url %></p>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', :back %>

<div class="itemlist">
<table>
<thead>
  <tr>
    <th width=200>Beer</th>
	<th width=200>Bar</th>
	<th width=150>Pouring</th>
    <th width=100>Price</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @beers.each do |beer| %>
<tr>
<% beer.beer_items.each do |item| %>
  <tr>
      <td><%= link_to item.beer.name, item.beer %></td>
	  <td><%= link_to item.bar.name, item.bar %></td>
      <td><%= number_to_human(item.volume, :units => {:unit => item.volunit}) %> <%= item.pouring %></td>
      <td><%= number_to_currency(item.price) %></td>
    <% if item.bar.has_permission?(current_user) %>
      <td><%= link_to 'Edit', edit_beer_item_path(item) %></td>
      <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
    <% else %>
    	<td />
    	<td />
    <% end %>
  </tr>
<% end %>
</tr>
<% end %>
</tbody>
</table>
</div>
