<h1><%= @brewery.name %></h1>

<h3>Brewing <%= pluralize(@brewery.beers.length, "beer") %></h3> <br />

<p>
	<%= @brewery.address %><br>
	<%= @brewery.city %> <%= @brewery.state %><br>
	<%= @brewery.zip %><br>
	<%= !@brewery.url.nil? ? link_to("Website", @brewery.url) : "" %>
</p>

<br />
<%= user_signed_in? ? link_to("Add a beer", new_beer_path(:beer => { :brewery_id => @brewery.id})) : "" %>

<div class="itemlist">
	<%= render 'beers_list' %>
</div>

<br>
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', :back %>
