<%= form_for(@beer) do |f| %>
  <% if @beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= error_messages_for @beer, :header_message => "Whoops!", :message => "Please address the following:"%></h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
     <%= f.label "Brewery Name" %><br />
     <%= collection_select :beer, :brewery_id, Brewery.order('name ASC'), :id, :name %>
  </div>

  <div class="field">
	<%= f.label 'ABV' %><br />
	<%= f.text_field :abv %>
  </div>
  <!--
  <div class="field">
	<%= f.label 'Volume' %><br />
	<%= f.text_field :volume %> <%= select :beer, :volunit, options_for_select([["oz","oz"],["ml","ml"],["cl","cl"]],@beer.volunit)%>
  </div>
	-->

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
