<%= form_for @beer do |f| %>
	
<ul class="rounded">
	<li class="arrow"><%= f.text_field :name, :placeholder => "Name" %></li>
	<li class="arrow"><%= collection_select :beer, :brewery_id, Brewery.order('name ASC'), :id, :name, {:include_blank => 'Select a Brewery'} %></li>
	<li class="arrow"><%= collection_select :beer, :beer_style_id, BeerStyle.order('name ASC'), :id, :name, {:include_blank => 'Select a Style'} %></li>
	<li class="arrow"><%= f.text_field :abv, :placeholder => "ABV" %></li>
	<li><%= f.submit %></li>
</ul>

<% end %>