<h1>Beers</h1>

<%= form_tag beers_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search], :size => 20 %>
    <%= submit_tag "Search", :name => nil, :class => "submit-search-button" %>
		<div>
			<% if params[:search].present? || params[:zip].present? %>
				<%= link_to('Clear Search', beers_path) %>
			<% end %>
		</div>
	</p>
<% end %>

<% if params[:search].present? %>
	<p>
		Found <%= pluralize(@beers.count, 'beer') %>
	</p>
<% end %>

<div class="itemlist">
<table>
<thead>
  <tr align="left">
    <th width=150>Name</th>
	  <th width=250>Brewery</th>
    <th width=120>Pouring at . . .</th>
    <th width=50></th>
    <th width=50></th>
  </tr>
</thead>
<tbody>
<% @beers.each do |beer| %>
  <tr  id="beers/<%= beer.id %>">
    <td><%= link_to beer.name, beer %></td>
	<td><%= link_to beer.brewery.name, beer.brewery %></td>
    <td><%= pluralize(beer.bars.count,"bar") %></td>
	<td><%= link_to 'Details', beer, :class => 'action_link' %>
    <td><%= link_to 'Edit', edit_beer_path(beer), :class => 'action_link'  %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
<br />

<%= link_to 'New Beer', new_beer_path %><br>
<%= paginate @beers %>