<div data-role="page" id="beers_index" class="beers-page">
	
	<div data-role="header">
		<a data-rel="back" data-icon="arrow-l">Back</a>
	  <h1>Beers</h1>
		<%= render :partial => "layouts/login_or_logout" %>
	</div>

	<div data-role="content">
		<ul data-role="listview" data-theme="d" data-filter="true">
			<% for beer in @beers %>
				<li>
					<%= link_to beer.name, beer %>
				</li>
			<% end %>
		</ul>
	</div>

	<div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><%= link_to "Home", beer_items_path, :id => "footer-home" %></li>
				<li><%= link_to "Bars", bars_path, :id => "footer-bars" %></li>
				<% if user_signed_in? %>
					<li><%= link_to "New Beer", new_beer_path %></li>
				<% else %>
					<li><%= link_to "Beers", beers_path, :id => "footer-beers" %></li>
				<% end %>
				<li><%= link_to "Breweries", breweries_path, :id => "footer-breweries" %></li>
			</ul>
		</div>
	</div>
	
</div>


		