<h1>Beers</h1>

<table>
  <tr align="left">
    <th width=150>Name</th>
	<th width=250>Brewery</th>
    <th width=120>Pouring at . . .</th>
    <th></th>
    <th></th>
  </tr>

<% @beers.each do |beer| %>
  <tr>
    <td><%= link_to beer.name, beer %></td>
	<td><%= link_to beer.brewery.name, beer.brewery %></td>
    <td><%= beer.bars.count %> bars</td>
    <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
    <% if logged_in? && current_user.id == 1 %>
    <td><%= link_to 'Destroy', beer, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beer', new_beer_path %>
