<h1> 
	<%= @beer.name %> 
	<% unless @beer.beer_style.nil? %>
		<span id="beer-style">
			<%= @beer.beer_style.name %>
		</span>
	<% end %>
</h1>
<div class="brewerylink">
  <%= link_to @beer.brewery.name, @beer.brewery %>
</div>

<p>
  <b>Being served at
  <%= pluralize(@beer.bars.count, "bar") %> </b>
</p>

<p>
  <b>Description:</b>
  <%= @beer.description %>
</p>

<p>
  <b>ABV:</b>
  <%= number_to_percentage @beer.abv, :precision => 1 %> 
</p>

<div class="greenLine" />

<div class="itemlist">
<table>
<thead>
  <tr>
    <th width=150>Bar</th>
	<th width=150>Address</th>
    <th width=100>Price</th>
    <td width=150>Pouring</th>
	<th width=100>ABD (oz)</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @beer_items.each do |item| %>
  <tr>
    <td><%= link_to item.bar.name, item.bar %></td>
	<td><%= item.bar.address %></td>
    <td><%= number_to_currency(item.price) %></td>
   <% unless (item.volume.nil? || item.pouring.nil?) %>
    <td><%= number_to_human(item.volume, :units => {:unit => item.volunit}) %> <%= item.pouring %></td>
   <% else %>
   	<td><%= item.pouring %></td>
   <% end %>
   
   <% unless (item.beer.abv.nil? || item.volume.nil? || item.price.nil?) %>
	<% case item.volunit %>
	<% when 'oz' %>
		<td><%= sprintf("%.3f",(@beer.abv*item.volume)/(100*item.price)) %> </td>
	<% when 'ml' %>
		<td><%= sprintf("%.3f",(@beer.abv*item.volume*0.03381)/(100*item.price)) %> </td>
	<% when 'cl' %>
		<td><%= sprintf("%.3f",(@beer.abv*item.volume*0.3381)/(100*item.price)) %> </td>
	<% end %>
   <% else %>
	<td></td>
   <% end %>
   <% if item.bar.has_permission?(current_user) %>
    <td><%= link_to 'Edit', edit_beer_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
   <% else %>
    <td />
    <td />
   <% end %>
  </tr>
<% end %>
</tbody>
</table>
</div>


<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', :back %>
