<h1> 
	<%= @beer.name %> 
	<% unless @beer.beer_style.nil? %>
		<span id="beer-style">
			<%= @beer.beer_style.name %>
		</span>
	<% end %>
</h1>
<div class="brewerylink">
  <%= link_to @beer.brewery.name, @beer.brewery %>
</div>

<p>
  <b>Being served at
  <%= pluralize(@beer.bars.count, "bar") %> </b>
</p>

<p>
  <b>Description:</b>
  <%= @beer.description %>
</p>

<p>
  <b>ABV:</b>
  <%= number_to_percentage @beer.abv, :precision => 1 %> 
</p>
<br />
<%= user_signed_in? ? link_to("Add a new listing", new_beer_item_path(:beer_item => { :beer_id => @beer.id })) : "" %>

<div class="itemlist">
	<%= render 'beer_items_list'%>
</div>

<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', :back %>
