<head>
  <title>Atlanta Beer List</title>
	<%= favicon_link_tag "abl_64x64.ico" %>
  <%= stylesheet_link_tag "style.css", "jquery.jqplot.min.css", "ui-lightness/jquery-ui-1.8.15.custom.css", "jquery.qtip.min.css" %>
	<%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.min.js", "jquery.qtip.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min.js" %>
  <%= javascript_include_tag "jquery.jqplot.js" %>
  <%= javascript_include_tag "jqplot_plugins/jqplot.dateAxisRenderer.min.js" %>
  <%= javascript_include_tag "jquery.metadata.js" %>
	<%= javascript_include_tag "gmaps4rails/gmaps4rails.base.js" %>
	<%= javascript_include_tag "gmaps4rails/gmaps4rails.googlemaps.js" %>
	<%= javascript_include_tag "gmaps4rails/gmaps4rails.bing.js" %>
	<%= javascript_include_tag "gmaps4rails/gmaps4rails.mapquest.js" %>
	<%= javascript_include_tag "gmaps4rails/gmaps4rails.openlayers.js" %>
	<%= javascript_include_tag "script.js" %>

  <%= csrf_meta_tag %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25428237-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

  <%= yield :head %>
</head>