<!DOCTYPE html>
<html>
<head>
  <title>Atlanta Beer List</title>

  <%= stylesheet_link_tag "application.css", "jquery.jqplot.min.css", "ui-lightness/jquery-ui-1.8.15.custom.css" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "coffeescripts/script.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.16.custom.min.js" %>
  <%= javascript_include_tag "jquery.jqplot.js" %>
  <%= javascript_include_tag "jqplot_plugins/jqplot.dateAxisRenderer.min.js" %>
  <%= javascript_include_tag "jquery.metadata.js"%>
  <%= csrf_meta_tag %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25428237-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

  <%= yield :head %>
</head>
<body>

 <div id="header">
   <h1><%= link_to "ABL", root_path %><span id="beta">beta</span> </h1>
    <div id="user_bar">
     <ul>
		<li><%= link_to "Beers", beers_path %></li>
		<li>-</li>
		<li><%= link_to "Bars", bars_path %></li>
		<li>-</li>
		<li><%= link_to "Breweries", breweries_path %></li>
		<li>|</li>
      <% if logged_in? %>	
		   	<% unless current_user.admin_bars.empty? %>      
				<li><%= link_to "Manage Bars", bar_owner_path %></li>
				<li>|</li>
			 <% end %>
					<li><%= link_to "Profile", profile_path %> (<%= link_to "edit", edit_user_path(current_user) %>) </li>
					<li>|</li>
				<% unless current_user.name.nil?%>
					<li>Welcome, <%= current_user.name %> (<%= link_to "Logout", logout_path, :id=>'logout' %>)</li>
				<% else %>
	        <li><%= link_to "Logout", logout_path, :id=>'logout' %></li>
				<% end %>
      <% else %>
		 <% if signup_allowed? %>
			<li><%= link_to "Signup", new_user_path %></li>
			<li>|</li>
		   <% else %>
			<li>Beta Testing Full</li>
			<li>|</li>
		 <% end %>
         <li><%= link_to "Login", login_path %></li>
      <% end %>
     </ul>
    </div>
 </div>
  <div id="main">
  	<% if iphone_user_agent? %>
  		<div id="message">
			Using an iPhone? <a href="http://iphone.atlbeerlist.com/">Use the optimized version</a>.
		</div>
	<% end %>

    <%= content_tag(:p, raw(notice), :class => 'notice') if notice.present? %>
    <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>
		<br />
    <%= yield %>

  </div>
  <div id="footer">
    <%= yield :scripts %>
    Atlanta Beer List:  Your Place for Beer Prices
  </div>

</body>
</html>
