<!DOCTYPE html>
<html>
<head>
  <title>BeerList</title>
  <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/application.css"></style>
  <script type="text/javascript" src="javascripts/rails.js"</script>
  <script type="text/javascript" src="javascripts/prototype.js"</script>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
    <h1><%= link_to "The Atlanta Beer List", root_path %><div class="beta">beta</div> </h1>
    <div id="user_bar">
      <% if logged_in? %>
		<%= link_to "Beers", beers_path %> | 
		<%= link_to "Bars", bars_path %> | 
		<%= link_to "Breweries", breweries_path %> |
	   <% unless current_user.admin_bars.empty? %>        
			<%= link_to "New Item", new_beer_item_path %> |
	   <% end %>
        <%= link_to "Edit Password", edit_user_path(current_user) %> |
        <%= link_to "Logout", logout_path %>
      <% else %>  
		<%= link_to "Beers", beers_path %> | 
		<%= link_to "Bars", bars_path %> | 
		<%= link_to "Breweries", breweries_path %> |
	  <% if signup_allowed? %>
		<%= link_to "Signup", new_user_path %> |
	  <% else %>
	    Beta Testing Full |
	  <% end %>
        <%= link_to "Login", login_path %>
      <% end %>
    </div>
  </div>
  <div id="main">

    <%= content_tag(:p, notice, :class => 'notice') if notice.present? %>
    <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>

    <%= yield %>

  </div>
  <div id="footer">
    Beer List:  Your Place for Beer Prices
  </div>

</body>
</html>
