<!DOCTYPE html>
<html>
<%= render :partial => "layouts/doc_header" %>
<body>
<%= render :partial => "layouts/page_header" %>

<!-- <%= image_tag "comingsoon_eav.png", :id => "announcement-image" %> -->

  <div id="main">
    <% if iphone_user_agent? %>
      <div id="iphone-message">
      Using an mobile browser? <a href="http://m.atlbeerlist.com/">Use the optimized version of the site</a>.
      </div>
    <% end %>

    <%= content_tag(:p, raw(notice), :class => 'notice') if notice.present? %>
    <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>

    <br />
    <%= yield %>

  </div>

<%= render :partial => "layouts/footer" %>
</div>
</body>
</html>
